<div class="dummy-phone">
    <div class="screen-shot">
        <div class="carousel carousel-fade" data-ride="carousel" >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%= image_tag "Imagen1.png", height: '427', width: '240'%>
                </div>
                <div class="carousel-item">
                    <%= image_tag "Imagen2.png", height: '427', width: '240'%>
                </div>
                <div class="carousel-item">
                    <%= image_tag "Imagen3.png", height: '427', width: '240'%>
                </div>
                <div class="carousel-item">
                    <%= image_tag "Imagen4.png", height: '427', width: '240'%>
                </div>
                <div class="carousel-item">
                    <%= image_tag "Imagen5.png", height: '427', width: '240'%>
                </div>
            </div>
        </div>
    </div>
</div>